<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalhes.css" type="text/css">
    <title>Pokedex</title>
</head>
<body>
    <nav>
        <ul>
            <img class="icon-pokebola" src="https://cdn-icons-png.flaticon.com/512/188/188918.png" height="48px" alt="logo-pokebola">
            <a href="/"> <li> Home </li></a>
        </ul>
    </nav>
    <main>
        <% pokemonAtual.forEach(element => { %>
                <div class="card-container"> 
                        <div class="header-card">
                            <span class="card-id">  <%= element.id %></span>
                            
                            <span class="card-number"> <%= element.num %></span>
                        </div>

                        <div class="main-card">
                            <img src="<%= element.img %> " alt="<%= element.name %> ">
                            
                            <div class="card-name"> Name: <%= element.name %></div>

                            <div class="data-card">
                                <span class="weight"> Weight: <%= element.weight %></span>
                                <br>
                                <span class="heigth"> Height: <%= element.height %> </span>
                                <br>
                                <span class="weaknesses"> Weaknesses: <%= element.weaknesses %> </span>
                            
                            </div>
                        </div>

                        <div class="footer-card"> Type: <%= element.type %> </div>
                </div>
        <% }) %>
    </main>
    
</body>
</html>
